<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='app.js') }}" defer></script>
        <title>The World of Star Wars</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Planet List</a></li>
                        {% if login_status == False %}
                        <li><a href="/registration">Registration</a></li>
                        <li><a href="/login">Login</a></li>
                        {% endif %}
                        {% if login_status == True %}
                        <li><a href="/logout">Logout</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right ">
                        <li class="navbar-text">{{ login_message }}</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container" id="buttons">

            <h1>Star Wars Universe Planets</h1>
            
            <form action="{{ url_for('planets') }}" id="prev" name="url" method="POST">
                <input type="text" name="url" value="{{ prev_page }}" id="prev_page" hidden>
                <input class="btn btn-primary" type="submit" value="Prev" {% if not prev_page %} disabled {% endif %}>
            </form>

            <form action="{{ url_for('planets') }}" id="next" name="url" method="POST">
                <input type="text" name="url" value="{{ next_page }}" id="next_page" hidden>
                <input class="btn btn-primary" type="submit" value="Next" {% if not next_page %} disabled {% endif %}>
            </form>

        </div>
        <div class="container" id="planet-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Diameter</th>
                        <th>Climate</th>
                        <th>Terrain</th>
                        <th>Surface Water Percentage</th>
                        <th>Population</th>
                        <th>Residents</th>
                    </tr>
                </thead>
                <tbody>
                    {% for planet in planets %}
                    <tr>
                        <td>{{ planet.name }}</td>
                        {% if planet.diameter != "0" and planet.diameter != 'unknown' %}
                        <td>{{ '{:.3f}'.format(int(planet.diameter)/1000) }} km</td>
                        {% elif planet.diameter == "0"%}
                        <td>{{ 0 }} km</td>
                        {% elif planet.diameter == "unknown" %}
                        <td>{{ planet.diameter }}</td>
                        {% endif %}
                        <td>{{ planet.climate }}</td>
                        <td>{{ planet.terrain }}</td>

                        {% if planet.surface_water != "unknown"%}
                        <td>{{ planet.surface_water }} %</td>
                        {% else %}
                        <td>{{ planet.surface_water }}</td>
                        {% endif %}
                        
                        {% if planet.population != 'unknown' %}
                        <td>{{ '{:,}'.format(int(planet.population)) }} people</td>
                        {% else %}
                        <td>{{ planet.population }}</td>
                        {% endif %}

                        {% if planet.residents %}
                        <td><button class="btn btn-default residents" data-toggle="modal" data-target="#planetResidents" data-url="{{ planet.url }}" data-planet="{{ planet.name }}" id="{{ planet.name }}-residents">{{ len(planet.residents) }} resident{% if len(planet.residents) > 1 %}s{% endif %}</button></td>
                        {% else %}
                        <td>No known residents</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="planetResidents" tabindex="-1" role="dialog" aria-labelledby="planetResidents">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>